@charset "utf-8";
*{
	margin : 0 auto;
	padding : 0;
}
#wrap{
	margin : 0 auto;
}
#again{
	height : 500px;
	background-color : black;
	text-color : white;
	line-height: 650%;
	font-size : 50pt;
}
#story{
	height : 500px;
	backgrount-color:white;
	text-color : black;
	line-height: 650%;
	font-size : 50pt;
}
.user{
	font-size : 10pt;
	text-align : left;
}
/*a{
	margin : 0px 0px 0px 10%;
	font-size : 10pt;
	text-align : left;
	text-align : center;
}*/
		