@charset "utf-8";
*{
	margin : 0 auto;
	padding : 0;
}
a{
	text-decoration:none;
}
#wrap{
	border : 0.5px solid black;
	text-align : center;
	margin : 0;
	width : 100%;
}
#usermenu{
	border: 0.5px solid black;
    text-align: left;
    width: 15%;
    height: 50%;
    margin: 0;
    padding-left: 5%;
}
#userInformation{
	border : 0.5px solid black;
	text-align : left;
	margin : 0%;
	padding : 10%;
	width : 80%;
}
table{
	border : 1px solid black;
	width : 50%;
	border-collapse: collapse;
}
table td{
	border : 1px solid black;
}

table tr{
	height : 50%;
}
