@charset "utf-8";
*{
	margin : 0 auto;
}
a{
	text-decoration:none;
	
}
#wrap{
	width:50%;
	margin-top:10%;
}
#usermenu{
	width:30%;
	margin-left:-90px;
	border:0.5px solid black;
}
h1{
	text-align:center;
}
.goHome{
	text-align:center;
}